# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.gitignore
*.swp
*.vim
*.orig
**/.orig
**/.DS_Store
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*

# ignore all logs
*.log
# macOS Files
.DS_Store
node_modules/
logs/
.prettierrc.json